<div class="desktop">
  <header class="jumbotron bg-dark rounded-0 text-center" style="background-image:url('https://res.cloudinary.com/subhro/image/upload/v1581139833/html-pages/bruno-kelzer-LvySG1hvuzI-unsplash_wwgxrw.jpg');background-size:cover;height:655px;background-position: center">


    <h2 class="display-3 border-md-2 text-dark  pt-lg-5" style="margin-top:10%">We Believe in Change.</h2>
    <h2 class="" style="color:#d64161;font-family:sans-serif"><b>Shop with us and change the way you live<b></h2>

  </header>

</div>
<div class="tab">
  <header class="jumbotron bg-dark rounded-0 text-center" style="background-image:url('https://res.cloudinary.com/subhro/image/upload/v1581139833/html-pages/bruno-kelzer-LvySG1hvuzI-unsplash_wwgxrw.jpg');background-size:cover;height:655px;background-position: center">


    <h2 class="display-3 border-md-2 text-dark  pt-lg-5" style="margin-top:10%">We Believe in Change.</h2>
    <h2 class="" style="color:#d64161;font-family:sans-serif"><b>Shop with us and change the way you live<b></h2>

  </header>

</div>
<div class="mobile">
  <header class="jumbotron bg-dark rounded-0 text-center" style="background-image:url('https://res.cloudinary.com/subhro/image/upload/v1581139833/html-pages/bruno-kelzer-LvySG1hvuzI-unsplash_wwgxrw.jpg');background-size:cover;height:655px;background-position: center">


    <h2 class="display-3 border-md-2 text-dark  pt-lg-5" style="margin-top:40%">We Believe in Change.</h2>
    <h2 class="" style="color:#d64161;font-family:sans-serif"><b>Shop with us and change the way you live<b></h2>

  </header>

</div>
