<div class="desktop">
  <nav class="navbar navbar-expand-md fixed-top" style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="navbar-brand ">
      <h3 class=" text-center mar-left" style="color:#f2af29"> <strong>Riyo's World</strong> </h3>
    </div>
  <div class="navbar-collapse mx-auto">
    <ul class="nav navbar-nav " style="padding-left:55%">
      <li class="nav-item">
        <a href="index.php" class="nav-link text-light hov-ef">Home</a>
      </li>
      <li class="nav-item">
        <a href="Shop.php" class="nav-link text-light hov-ef" target="_parent">Shop</a>
      </li>
      <li class="nav-item">
        <a href="Gallery.php" class="nav-link text-light hov-ef" target="_parent">Gallery</a>
      </li>
      <li class="nav-item">
        <a href="About.php" class="nav-link text-light hov-ef" >About</a>
      </li>
      <li class="nav-item">
        <a href="Contact.php" class="nav-link text-light hov-ef">Contact</a>
      </li>
      <li class="nav-item">
        <a href="Auth/login.php" class="nav-link text-light" target="_blank">My Account</a>
      </li>
      <li class="nav-item" >
        <a href="Search.php" class="nav-link text-light" target="_parent">Search</a>
      </li>
    </ul>

  </div>
  </nav>
</div>
<!-- Tab navbar -->
<div class="tab">
  <nav class="navbar navbar-expand-md fixed-top" style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="navbar-brand ">
      <h3 class=" text-center text-primary mar-left" style="color:#f2af29"> <strong>Riyo's World</strong></h3>
    </div>
  <div class="navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a href="index.php" class="nav-link text-light hov-ef">Home</a>
      </li>
      <li class="nav-item">
        <a href="Shop.php" class="nav-link text-light hov-ef" target="_parent">Shop</a>
      </li>
      <li class="nav-item">
        <a href="Gallery.php" class="nav-link text-light hov-ef" target="_parent">Gallery</a>
      </li>
      <li class="nav-item">
        <a href="About.php" class="nav-link text-light hov-ef" >About</a>
      </li>
      <li class="nav-item">
        <a href="Contact.php" class="nav-link text-light hov-ef">Contact</a>
      </li>
      <li class="nav-item">
        <a href="Auth/login.php" class="nav-link text-light" target="_blank">My Account</a>
      </li>
      <li class="nav-item">
        <a href="Search.php" class="nav-link text-light hov-ef" target="_parent">Search</a>
      </li>
    </ul>
  </div>
  </nav>
</div>
<!--mobile navbar-->
<div class="mobile ">
  <nav class="navbar navbar-expand-md  fixed-top " style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="navbar-brand ">
      <h3 class=" text-center " style="color:#f2af29"><strong>Riyo's World</strong></h3>
    </div>
    <button type="button" class="navbar-toggler pr-lg-5 mr-lg-5" data-toggle="collapse" data-target="Menu" onclick="$('#Menu').toggle()">
      <span> <img src="https://res.cloudinary.com/subhro/image/upload/v1581020577/icons/menu_u81jym.png" alt="" width=35px height=35px> </span>
    </button>
    <div class="collapse navbar-collapse bg-light " id="Menu">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a href="index.php" class="nav-link text-muted hov-ef">Home</a>
        </li>
        <li class="nav-item">
          <a href="Shop.php" class="nav-link text-muted hov-ef" target="_parent">Shop</a>
        </li>
        <li class="nav-item">
          <a href="Gallery.php" class="nav-link text-muted hov-ef" target="_parent">Gallery</a>
        </li>
        <li class="nav-item">
          <a href="About.php" class="nav-link text-muted hov-ef" >About</a>
        </li>
        <li class="nav-item">
          <a href="Contact.php" class="nav-link text-muted hov-ef">Contact</a>
        </li>
        <li class="nav-item">
          <a href="Auth/login.php" class="nav-link text-light" target="_blank">My Account</a>
        </li>
        <li class="nav-item">
          <a href="Search.php" class="nav-link text-muted hov-ef" target="_parent"><span><img src="https://res.cloudinary.com/subhro/image/upload/v1581020590/icons/search_swvjky.png" alt="" width=30px></span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
